:root {
    --primary-background-color: rgba(47, 48, 58, 1);
    --secondary-background-color: rgba(245, 244, 250, 1);
    --color-accent: rgba(33, 150, 243, 1);
    --primary-text-color: rgba(33, 33, 33, 1);
    --secondary-text-color: rgba(117, 117, 117, 1);
    --white-color: rgba(255, 255, 255, 1);
}
<<<<<<< HEAD
body{
    font-family: "Roboto", sans-serif
}
                        /*header*/
=======
/*              header                */
>>>>>>> 0e32ba23495b56467c71bdbd0035add2db8935ac
.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;

}
<<<<<<< HEAD
/* nav */
.header-nav-list{
    list-style-type: none;
}
.header-nav-link{
=======
.nav{
    font-family: "Roboto", sans-serif;
>>>>>>> 0e32ba23495b56467c71bdbd0035add2db8935ac
    text-decoration: none;
    width: 64px;
    height: 16px;
    weight: 500;
    line-height: 16.41px;
    font-size: 14px;
    font-weight: 500px;
    color: rgba(33, 33, 33, 1)
}
<<<<<<< HEAD
.header-nav-email-tel{
=======
.nav2{
    font-family: "Roboto", sans-serif;
>>>>>>> 0e32ba23495b56467c71bdbd0035add2db8935ac
    text-decoration: none;
    width: 64px;
    height: 16px;
    weight: 500;
    line-height: 16.41px;
    font-size: 14px;
    font-weight: 500px;
    color: rgba(117, 117, 117, 1)
}
<<<<<<< HEAD
                        /*main*/
/* ws-main section one */
.main-section-one{
=======
/*              all             */
.ghost{
    list-style-type: none;
}
/*              main                */
.Section-One-Homepage{
>>>>>>> 0e32ba23495b56467c71bdbd0035add2db8935ac
    width: 1600px;
    height: 600px;

    background-color: rgba(47, 48, 58, 1);
}
<<<<<<< HEAD
.title-business{
    font-weight: 900;
    line-height: 60px;
    width: 696px;
    height: 120px;
    font-size: 44px;
=======
.h1{
    font-family: "Roboto", sans-serif;

    width: 696px;
    height: 120px;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
>>>>>>> 0e32ba23495b56467c71bdbd0035add2db8935ac
    color: rgba(255, 255, 255, 1);
}
.Btn-ЗАМОВИТИ-ПОСЛУГУ{
    font-family: "Roboto", sans-serif;
    width: 216px;
    height: 50px;
<<<<<<< HEAD
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
}
/* ws-main section two */
.features-ghost-title{
    list-style-type: none;
}
.list-features{
    list-style-type: none;
}
.list-item-text-features{
    width: 270px;
    height: 48px;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    color: rgba(117, 117, 117, 1);
}
.list-item-features{
    width: 270px;
    height: 16px;
    font-size: 14px;
    font-weight: 700px;
    line-height: 16.41px;
    color: rgba(33, 33, 33, 1);
}
/* ws-main section three*/
.our-work{
    width: 366px;
    height: 42px;
    font-size: 36px;
    font-weight: 700px;
    line-height: 42.19px;
=======
    weight: 700;
    size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
}

.p-From-The-h3-Homepage-Section-Three{
    font-family: "Roboto", sans-serif;
    width: 270px;
    height: 72px;
    size: 14px;
    weight: 400;
    line-height: 24px;
    color: rgba(117, 117, 117, 1);
}
.h3-Homepage-Section-Two{
    font-family: "Roboto", sans-serif;
    width: 270px;
    height: 16px;
    Weight: 700px;
    font-size: 14px;

    line-height: 16.41px;
    color: rgba(33, 33, 33, 1);
}
.h2-Homepage-Section-Three{
    font-family: "Roboto", sans-serif;
    width: 366px;
    height: 42px;
    weight: 700;
    size: 36px;
    Line-height: 42.19px;
    size: 36px;
>>>>>>> 0e32ba23495b56467c71bdbd0035add2db8935ac
    color: rgba(33, 33, 33, 1);
}
.list-work{
    list-style-type: none;
}
.list-item-work-pictures{
    width: 370px;
    height: 294px;
}
<<<<<<< HEAD
/* ws-main section four*/
.title-our-team{
    width: 264px;
    height: 42px;
    font-size: 36px;
    font-weight: 700px;
    line-height: 42.19px;
    color: rgba(33, 33, 33, 1)
}
.list-team-worker{
    list-style-type: none;
}
.list-item-worker-pictures{
    width: 270px;
    height: 260px;
}
.list-item-worker-name{
    width: 129px;
    height: 19px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 18.75px;
    color: rgba(33, 33, 33, 1);
}
.list-item-work{
    width: 147px;
    height: 19px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 18.75px;
    color: rgba(117, 117, 117, 1);
}
                        /*footer*/
footer{
    background-color: rgba(47, 48, 58, 1);
}
.list-nav-footer{
    list-style-type: none;
}
.list-item-nav-street{
    text-decoration: none;
    width: 231px;
    height: 21px;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
.footer-list-item-nav-email-and-tel{
    text-decoration: none;
    width: 231px;
    height: 21px;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
                        /*portfolio*/
.list-button{
    list-style-type: none;
}
.list-item-button{
    font-weight: 500px;
}
.list-website-app-etc{
    list-style-type: none;
}
.list-item-website-app-etc-subtitle{
    font-weight: 700px;
}
.list-item-website-app-etc-text{
    font-weight: 400px;
=======
.h2-homepage-section-four{
    font-family: "Roboto", sans-serif;
    width: 264px;
    height: 42px;
    size: 36px;
    weight: 700;
    line-height: 42.19px;
    color: rgba(33, 33, 33, 1)
}
.pictures-homepage-section-four{
    width: 270px;
    height: 260px;
}
.name-worker-section-four-homepage{
    font-family: "Roboto", sans-serif;
    width: 129px;
    height: 19px;
    size: 16px;
    weight: 500;
    line-height: 18.75px;
    color: rgba(33, 33, 33, 1);
}
.work-section-four-homepage{
    font-family: "Roboto", sans-serif;
    width: 147px;
    height: 19px;
    size: 16px;
    weight: 400;
    line-height: 18.75px;
    color: rgba(117, 117, 117, 1);
}
/*              footer                */
footer{
    background-color: rgba(47, 48, 58, 1);
}
.footer-Nav-street{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    width: 231px;
    height: 21px;
    size: 14px;
    weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
.footer-Nav-email-and-tel{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    width: 231px;
    height: 21px;
    size: 14px;
    weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
/*              portfolio                */
.portfolio--button{
    font-family: "Roboto", sans-serif;
    width: 103px;
    height: 38px;
    weight: 500px;
    size: 16px;
    line-height: 26px;
}
.portfolio--h3{
    font-family: "Roboto", sans-serif;
    weight: 700;
    size: 18px;
}
.portfolio--p{
    font-family: "Roboto", sans-serif;
    weight: 400;
    size: 16px;
>>>>>>> 0e32ba23495b56467c71bdbd0035add2db8935ac
}