:root {
    --primary-background-color: rgba(47, 48, 58, 1);
    --secondary-background-color: rgba(245, 244, 250, 1);
    --color-accent: rgba(33, 150, 243, 1);
    --primary-text-color: rgba(33, 33, 33, 1);
    --secondary-text-color: rgba(117, 117, 117, 1);
    --white-color: rgba(255, 255, 255, 1);
}
/*              header                */
.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 26px;
}
.nav{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: rgba(33, 33, 33, 1)
}
.nav2{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: rgba(117, 117, 117, 1)
}
.Section-One-Homepage{
    width: 1600px;
    height: 600px;
    top: 80px;
    background-color: rgba(47, 48, 58, 1);
}
.h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 60px;
    width: 696px;
    height: 120px;
    font-size: 44px;
    color: rgba(255, 255, 255, 1);
}
.Btn-ЗАМОВИТИ-ПОСЛУГУ{
    font-family: "Roboto", sans-serif;
    width: 216px;
    height: 50px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
}
/*              all             */
.ghost{
    list-style-type: none;
}
/*              main                */
.p-From-The-h3-Homepage-Section-Three{
    font-family: "Roboto", sans-serif;
    width: 270px;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(117, 117, 117, 1);
}
.h3-Homepage-Section-Two{
    font-family: "Roboto", sans-serif;
    width: 270px;
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    color: rgba(33, 33, 33, 1);
}
.h2-Homepage-Section-Three{
    font-family: "Roboto", sans-serif;
    width: 366px;
    height: 42px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    color: rgba(33, 33, 33, 1);
}
.pictures-homepage-section-three{
    width: 370px;
    height: 294px;
}
.h2-homepage-section-four{
    font-family: "Roboto", sans-serif;
    width: 264px;
    height: 42px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    color: rgba(33, 33, 33, 1)
}
.pictures-homepage-section-four{
    width: 270px;
    height: 260px;
}
.name-worker-section-four-homepage{
    font-family: "Roboto", sans-serif;
    width: 129px;
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: rgba(33, 33, 33, 1);
}
.work-section-four-homepage{
    font-family: "Roboto", sans-serif;
    width: 147px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: rgba(117, 117, 117, 1);
}
/*              footer                */
footer{
    background-color: rgba(47, 48, 58, 1);
}
.footer-Nav-street{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    width: 231px;
    height: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}
.footer-Nav-email-and-tel{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    width: 231px;
    height: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
/*              portfolio                */
.portfolio--button{
    font-family: "Roboto", sans-serif;
}
.portfolio--h3{
    font-family: "Roboto", sans-serif;
}
.portfolio--p{
    font-family: "Roboto", sans-serif;
}